.header {
  padding: 10px 0;
  background: #ffffff;
  margin-bottom: 10px; }

.pad10 {
  padding: 10px 0; }

ul li {
  list-style: none; }

.center {
  text-align: center; }

body {
  background: #e7e9eb !important; }

.main {
  background: #ffffff;
  padding: 10px 0; }

h1, h2 {
  font-size: 20px;
  font-weight: bold; }
  h1.title-block, h2.title-block {
    text-transform: uppercase; }

.table-border {
  background: #f5f5f5;
  padding: 5px; }
  .table-border h2 {
    font-size: 15px;
    font-weight: bold; }
  .table-border table {
    background: #ffffff; }

h2 {
  margin: 15px 0; }
  h2 span {
    font-size: 18px;
    border-bottom: 1px #cccccc solid;
    padding-bottom: 10px;
    padding-right: 50px; }

.label {
  font-size: 100%;
  font-weight: 400; }

.navigation {
  border: 1px rgba(0, 0, 0, 0.1) solid;
  margin: 0;
  padding: 0; }
  .navigation li {
    border-top: 1px rgba(0, 0, 0, 0.1) solid; }
    .navigation li a {
      display: block;
      padding: 10px 20px;
      text-decoration: none; }

.list-channel .channel-item {
  border: 1px #cccccc solid;
  border-radius: 5px;
  padding: 10px;
  width: 16%;
  display: inline-block;
  text-align: center;
  margin: 5px; }
  .list-channel .channel-item:hover {
    border: 1px #05728f solid;
    color: #ffffff;
    cursor: pointer;
    background: #05728f; }
  .list-channel .channel-item.active {
    background: #05728f;
    color: #FFFBF1; }

.list-format .format-item {
  border: 1px #cccccc solid;
  border-radius: 5px;
  padding: 10px;
  width: 20%;
  display: inline-block;
  text-align: center;
  margin: 5px; }
  .list-format .format-item:hover {
    border: 1px #05728f solid;
    color: #ffffff;
    cursor: pointer;
    background: #05728f; }
  .list-format .format-item.active {
    background: #05728f;
    color: #FFFBF1; }

.list-vitri .vitri-item {
  border: 1px #cccccc solid;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 5px; }
  .list-vitri .vitri-item:hover {
    border: 1px #05728f solid;
    color: #05728f;
    cursor: pointer; }
  .list-vitri .vitri-item.active {
    background: #05728f;
    color: #FFFBF1; }

.listQuestion {
  padding: 0; }
  .listQuestion li {
    padding: 5px 10px;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid; }
